CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 001_initial

CREATE TABLE users (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    name VARCHAR(255) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    `role` ENUM('admin','manager','staff') NOT NULL, 
    is_active BOOL NOT NULL, 
    created_at DATETIME DEFAULT now(), 
    updated_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE TABLE refresh_tokens (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    user_id INTEGER NOT NULL, 
    token_hash VARCHAR(255) NOT NULL, 
    expires_at DATETIME NOT NULL, 
    created_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_refresh_tokens_token_hash ON refresh_tokens (token_hash);

CREATE TABLE company_settings (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    name VARCHAR(255) NOT NULL, 
    logo_url VARCHAR(500), 
    address TEXT, 
    phone VARCHAR(50), 
    email VARCHAR(255), 
    website VARCHAR(255), 
    default_currency VARCHAR(3) NOT NULL, 
    default_payment_terms INTEGER, 
    invoice_prefix VARCHAR(20), 
    quotation_prefix VARCHAR(20), 
    receipt_prefix VARCHAR(20), 
    smtp_host VARCHAR(255), 
    smtp_port INTEGER, 
    smtp_user VARCHAR(255), 
    smtp_pass_encrypted TEXT, 
    smtp_from_email VARCHAR(255), 
    smtp_from_name VARCHAR(255), 
    signature_image_url VARCHAR(500), 
    primary_color VARCHAR(7), 
    accent_color VARCHAR(7), 
    created_at DATETIME DEFAULT now(), 
    updated_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE TABLE tax_rates (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    name VARCHAR(100) NOT NULL, 
    rate NUMERIC(5, 2) NOT NULL, 
    is_default BOOL, 
    is_active BOOL, 
    created_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE TABLE document_templates (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    name VARCHAR(100) NOT NULL, 
    type ENUM('quotation','invoice','receipt') NOT NULL, 
    template_json TEXT, 
    is_default BOOL, 
    created_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE TABLE clients (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    company_name VARCHAR(255) NOT NULL, 
    contact_person VARCHAR(255), 
    email VARCHAR(255), 
    phone VARCHAR(50), 
    address TEXT, 
    city VARCHAR(100), 
    country VARCHAR(100), 
    currency VARCHAR(3), 
    notes TEXT, 
    status ENUM('active','inactive') NOT NULL, 
    created_by INTEGER, 
    created_at DATETIME DEFAULT now(), 
    updated_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES users (id) ON DELETE SET NULL
);

CREATE INDEX ix_clients_company_name ON clients (company_name);

CREATE INDEX ix_clients_email ON clients (email);

CREATE TABLE activities (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    client_id INTEGER NOT NULL, 
    user_id INTEGER, 
    type ENUM('call','email','meeting','note','quote_sent','invoice_sent','payment_received') NOT NULL, 
    description TEXT NOT NULL, 
    occurred_at DATETIME DEFAULT now(), 
    created_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(client_id) REFERENCES clients (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE SET NULL
);

CREATE TABLE reminders (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    client_id INTEGER, 
    user_id INTEGER NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    description TEXT, 
    due_date DATETIME NOT NULL, 
    is_completed BOOL, 
    completed_at DATETIME, 
    priority ENUM('low','medium','high') NOT NULL, 
    created_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(client_id) REFERENCES clients (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE quotations (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    quotation_number VARCHAR(50) NOT NULL, 
    client_id INTEGER NOT NULL, 
    status ENUM('draft','sent','accepted','rejected','expired') NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    exchange_rate NUMERIC(10, 6), 
    issue_date DATETIME NOT NULL, 
    expiry_date DATETIME, 
    subtotal NUMERIC(15, 2), 
    discount_amount NUMERIC(15, 2), 
    tax_total NUMERIC(15, 2), 
    total NUMERIC(15, 2), 
    notes TEXT, 
    terms_conditions TEXT, 
    template_id INTEGER, 
    created_by INTEGER, 
    sent_at DATETIME, 
    accepted_at DATETIME, 
    created_at DATETIME DEFAULT now(), 
    updated_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (quotation_number), 
    FOREIGN KEY(client_id) REFERENCES clients (id) ON DELETE RESTRICT, 
    FOREIGN KEY(template_id) REFERENCES document_templates (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by) REFERENCES users (id) ON DELETE SET NULL
);

CREATE TABLE quotation_items (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    quotation_id INTEGER NOT NULL, 
    description TEXT NOT NULL, 
    quantity NUMERIC(10, 2) NOT NULL, 
    unit_price NUMERIC(15, 2) NOT NULL, 
    tax_rate_id INTEGER, 
    tax_amount NUMERIC(15, 2), 
    line_total NUMERIC(15, 2), 
    sort_order INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(quotation_id) REFERENCES quotations (id) ON DELETE CASCADE, 
    FOREIGN KEY(tax_rate_id) REFERENCES tax_rates (id) ON DELETE SET NULL
);

CREATE TABLE invoices (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    invoice_number VARCHAR(50) NOT NULL, 
    quotation_id INTEGER, 
    client_id INTEGER NOT NULL, 
    status ENUM('draft','sent','partial','paid','overdue','cancelled') NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    exchange_rate NUMERIC(10, 6), 
    issue_date DATETIME NOT NULL, 
    due_date DATETIME, 
    subtotal NUMERIC(15, 2), 
    discount_amount NUMERIC(15, 2), 
    tax_total NUMERIC(15, 2), 
    total NUMERIC(15, 2), 
    amount_paid NUMERIC(15, 2), 
    balance_due NUMERIC(15, 2), 
    notes TEXT, 
    terms_conditions TEXT, 
    template_id INTEGER, 
    created_by INTEGER, 
    sent_at DATETIME, 
    paid_at DATETIME, 
    created_at DATETIME DEFAULT now(), 
    updated_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (invoice_number), 
    FOREIGN KEY(quotation_id) REFERENCES quotations (id) ON DELETE SET NULL, 
    FOREIGN KEY(client_id) REFERENCES clients (id) ON DELETE RESTRICT, 
    FOREIGN KEY(template_id) REFERENCES document_templates (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by) REFERENCES users (id) ON DELETE SET NULL
);

CREATE TABLE invoice_items (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    invoice_id INTEGER NOT NULL, 
    description TEXT NOT NULL, 
    quantity NUMERIC(10, 2) NOT NULL, 
    unit_price NUMERIC(15, 2) NOT NULL, 
    tax_rate_id INTEGER, 
    tax_amount NUMERIC(15, 2), 
    line_total NUMERIC(15, 2), 
    sort_order INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(invoice_id) REFERENCES invoices (id) ON DELETE CASCADE, 
    FOREIGN KEY(tax_rate_id) REFERENCES tax_rates (id) ON DELETE SET NULL
);

CREATE TABLE receipts (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    receipt_number VARCHAR(50) NOT NULL, 
    invoice_id INTEGER NOT NULL, 
    client_id INTEGER NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    exchange_rate NUMERIC(10, 6), 
    amount NUMERIC(15, 2) NOT NULL, 
    payment_method ENUM('cash','bank_transfer','cheque','online','other') NOT NULL, 
    payment_date DATETIME NOT NULL, 
    notes TEXT, 
    template_id INTEGER, 
    created_by INTEGER, 
    sent_at DATETIME, 
    created_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (receipt_number), 
    FOREIGN KEY(invoice_id) REFERENCES invoices (id) ON DELETE RESTRICT, 
    FOREIGN KEY(client_id) REFERENCES clients (id) ON DELETE RESTRICT, 
    FOREIGN KEY(template_id) REFERENCES document_templates (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by) REFERENCES users (id) ON DELETE SET NULL
);

CREATE TABLE payments (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    invoice_id INTEGER NOT NULL, 
    receipt_id INTEGER, 
    amount NUMERIC(15, 2) NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    payment_date DATETIME NOT NULL, 
    payment_method ENUM('cash','bank_transfer','cheque','online','other') NOT NULL, 
    reference_number VARCHAR(100), 
    proof_file_url VARCHAR(500), 
    notes TEXT, 
    recorded_by INTEGER, 
    created_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(invoice_id) REFERENCES invoices (id) ON DELETE CASCADE, 
    FOREIGN KEY(receipt_id) REFERENCES receipts (id) ON DELETE SET NULL, 
    FOREIGN KEY(recorded_by) REFERENCES users (id) ON DELETE SET NULL
);

CREATE TABLE expense_categories (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    name VARCHAR(100) NOT NULL, 
    color VARCHAR(7), 
    is_active BOOL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE expenses (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    category_id INTEGER, 
    category VARCHAR(100), 
    description TEXT NOT NULL, 
    amount NUMERIC(15, 2) NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    exchange_rate NUMERIC(10, 6), 
    expense_date DATETIME NOT NULL, 
    vendor VARCHAR(255), 
    receipt_url VARCHAR(500), 
    notes TEXT, 
    created_by INTEGER, 
    created_at DATETIME DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(category_id) REFERENCES expense_categories (id) ON DELETE SET NULL, 
    FOREIGN KEY(created_by) REFERENCES users (id) ON DELETE SET NULL
);

INSERT INTO alembic_version (version_num) VALUES ('001_initial');

